<%- include('partials/header') %>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="card-body px-3 py-4">
                        <h1 class="text-center mb-4">Invalid username or password.<br> Please try to login again or register.
                        </h1>
                        <form action="/login">
                            <button class="btn btn-dark btn-lg btn-block">Try again</button>
                        </form>
                        <form class="register" action="/register">
                            <button class="btn btn-light btn-lg btn-block">Register</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>