<%- include('partials/header') %>

    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="text-center mb-4">User already exist. Please try to login.
            </h1>
            <form action="/login">
                <button class="btn btn-dark btn-lg btn-block">Login</button>
            </form>
        </div>
    </div>
    
    <%- include('partials/footer') %>